*{
  padding: 0;
  margin: 0;
  background: rgb(194, 194, 194);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.Input{
    margin-bottom: 2rem;
    background-color: red;
   h1 {
    color: blue;
   }
   
}

